/** Fonts **/
@font-face {
  font-family: GE-Flow;
  src: url('../fonts/GE-Flow.ttf');
  
}

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/Poppins-Regular.ttf');
  
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/Poppins-Medium.ttf');
  
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/Poppins-Medium.ttf');
  
}

@font-face{
  font-family: fontawesome;
  src: url(../fonts/fontawesome/webfonts/fa-solid-900.ttf);
}