body {font-family: GE-Flow, sans-serif; font-size: $font-14; color: $blacktextColor; line-height: 1.3; cursor: default;}
h1, h2, h3, h4, h5, h6 {font-weight: 500; font-family: GE-Flow; margin-bottom: 0; color: $primaryColor;}
h1 { font-size: $font-32;}
h2 { font-size: $font-28;}
h3 { font-size: $font-22;}
h4 { font-size: $font-18;}
h5 { font-size: $font-16;}
h6 { font-size: $font-14;}
p{ color: $grayTextColor; margin-bottom: 0;}
a, img, button { border:0 none;}
img{max-width:100%; height:auto;}
a , button{ color:$primaryColor; transition: $transition-3s; text-decoration: none; cursor: pointer;}
a:hover , a:focus {color:$primaryColor; text-decoration:none;}
ul { margin:0; padding:0; list-style:none; }
::-webkit-scrollbar {width: 6px; scroll-padding: $padding-8;}
::-webkit-scrollbar-track {background: transparent;}
::-webkit-scrollbar-thumb {background: #435e8f; border-radius: 4px; background-clip: padding-box; }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}