/** Font Size **/
$font-40:2.5rem;
$font-36:2.25rem;
$font-32:2rem;
$font-28:1.75rem;
$font-24:1.5rem;
$font-22:1.375rem;
$font-20:1.25rem;
$font-18:1.125rem;
$font-17:1.0625rem;
$font-16:1rem;
$font-15:0.938rem;
$font-14:0.875rem;
$font-13:0.8rem;
$font-12:0.75rem;
$font-10:0.625rem;

/** Padding **/
$padding-2: 0.125rem;
$padding-4: 0.25rem;
$padding-5: 0.313rem;
$padding-8: 0.5rem;
$padding-10: 0.625rem;
$padding-12: 0.75rem;
$padding-14: 0.875rem;
$padding-15: 0.938rem;
$padding-16: 1rem;
$padding-20: 1.25rem;
$padding-24: 1.5rem;
$padding-30: 1.875rem;
$padding-32: 2rem;
$padding-40: 2.5rem;
$padding-44: 2.75rem;
$padding-48: 3rem;
$padding-50: 3.125rem;
$padding-60: 3.75rem;
$padding-64: 4rem;
$padding-70: 4.375rem;
$padding-80: 5rem;
$padding-128: 8rem;

/** Margin **/
$margin-2: 0.125rem;
$margin-4: 0.25rem;
$margin-5: 0.313rem;
$margin-8: 0.5rem;
$margin-10: 0.625rem;
$margin-12: 0.75rem;
$margin-15: 0.938rem;
$margin-16: 1rem;
$margin-20: 1.25rem;
$margin-24: 1.5rem;
$margin-30: 1.875rem;
$margin-32: 2rem;
$margin-40: 2.5rem;
$margin-50: 3.125rem;
$margin-60: 3.75rem;
$margin-64: 4rem;
$margin-70: 4.375rem;
$margin-80: 5rem;
$margin-96: 6rem;
$margin-128: 8rem;

/** Radius **/
$radius-4: .25rem;
$radius-8: 0.5rem;
$radius-10: 0.625rem;
$radius-16: 1rem;
$radius-20: 1.25rem;
$radius-24: 1.5rem;
$radius-32: 2rem;
$radius-50: 50%;
$radius-100: 100%;

/**/
$transition-3s:all .3s;
$transition-4s:all .4s;
